*{
  margin: 0px;
  padding: 0px;
}

body{
	width: 100vw;
	height: 100vh;
	background-image: url();
	background-size: 100%;
	background-repeat: no-repeat;  

}

.class_top{
  display:inline-block;
  background: #333;
  width: 100%;
  height: 00px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 95px;
  font-size: 18pt;
}

span{
  background: #007777;
  color: black;
  border-radius: 30px;
  padding: 30px;
  }

.txt_ini{  
  float: left;
  background: #007777;
	width: 100px;
	height: 30px;
  margin-left: 20px;
  border-radius: 30px;
  text-decoration: none;
	font-weight: bold;
	text-align: center;
  font-size: 20pt;
}

.txt_ini:hover{
	color: #ff0000;
	background: #ffff00;
	width: 105px;
	height: 35px;
	font-size: 26pt;
}

.txt_quart{
  position: relative;
  background: #007777;
  width: 100px;
  height: 30px;
  margin-left: 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 20pt;
  top: 3px;
}

.txt_quart:hover{
	color: #ff0000;
	background: #ffff00;
	width: 105px;
	height: 33px;
	font-size: 26pt;
}


ul{
  display: inline-block;
}

ul ul{
  position: absolute;
  visibility: hidden;
}

ul li:hover ul{
  visibility: visible;
  text-decoration: none;
  
}

li{
  list-style-type: none;
}

a{
  
  text-decoration: none;
}

a:link{
  color: black;
}

a:visited{
  color: black;
}

a:hover{
  color: red;
}

.class_list_menu{
  background: #ddd;
  margin-top: 70px;
  border-radius: 10px;
  margin-left: -200px;
  font-weight: bold;
  width: 185px;
	text-align: center;
}

.class_list_menu:hover{
  
  margin-left: -160px;
	
	
}
 

.class_quartos{
  position: relative;
  background: #ddffff;
  padding: 5px;
  margin-top: 5px;
  margin-right: 7px;
  margin-left: 7px;
  width: 150px;
  text-align: center; 
  color: red;
  text-decoration: none;
  border-radius: 7px;
}

.class_quartos:hover{
  background: #bbdddd;
  padding: 9px;
	font-size: 20pt;
  width: 155px;
	color: red;
	

}

